body {
    background-color: #333333;
}

canvas {
    background-color: #c8c8c8;
}

.center {
    margin: auto;
}

.container {
    display: flex;
}

.container-collection {
    margin: 0 auto;
}

.fixed-edit-pane {
    text-align: center;
    width:      280px;
}

.fixed-collection-list-pane {
    text-align: left;
    width:      280px;
    font-family: Arial, Verdana, sans-serif;
    color:	 #a9a9a9;
    font-size:	 12px;
}

.fixed-collection-list-pane a:link {
    color:	     #a9a9a9;
    text-decoration: none;
}

.fixed-collection-list-pane a:visited {
    color:	     #a9a9a9;    
    text-decoration: none;
}

.flex-item {
    flex-grow: 1;
}

.float-l-item {
    float: left;
}

.float-r-item {
    float: right;
}

.header-40px {
    width: 100%;
    height: 40px;
    border:1px solid #000000;    
}

.footer-collection {
    width: 100%;
    height: 150px;
    clear: both;
    border:1px solid #000000;    
}

table {
    font-family: Arial, Verdana, sans-serif;
    color:	 #a9a9a9;
    font-size:	 10px;
}

.edit-meta {
    background-color: #686868;
    border:1px solid #000000;
}

.edit-meta-text {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    padding: 5;
}

.edit-meta-text-marker {
    font-family: Arial, Verdana, sans-serif;
    color:	 #a9a9a9;
    text-align:  left;    
}

.edit-in {
    width:            34px;
    background-color: #333333;
    border:           1px solid #494949;
    color:	      #a9a9a9;
    font-size:	      10px;
    text-align:       right;
}

.meta-data-table {
    text-shadow: 1px 1px #000000;    
}

.text-bright {
    color: #c9c9c9;
}

input[type=range] {
    -webkit-appearance: none; 
    width: 160px; 
    background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #494949;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: #a9a9a9;
    margin-top: -6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #494949;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: #a9a9a9;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #494949;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: #a9a9a9;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #898989;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a9a9a9;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #898989;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #898989;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: #898989;
}

input[type=range]::-ms-fill-upper {
    background: #898989;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #898989;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.collection-content {
    background-color: #c8c8c8;
    height: 500px;
    overflow-y: scroll;
}

.grid-view-table {
    border-spacing: 3px;
    border-collapse: separate;
}

.grid-view-table-cell {
    margin-top:    40px;
    margin-bottom: 40px;
    margin-right:  10px;
    margin-left:   10px;    
}

td.grid-view-table-td {
    width:      232px;
    height:     252px;
    background-color: #686868;
}

.grid-view-table-footer {

    margin-left: 5px;
    margin-bottom: 5px;
}

td.grid-view-table-td-active {
    background-color: #a8a8a8;    
}

td.grid-view-table-td:hover {
    background-color: #c8c8c8;
}

.collapsibleList li{
    list-style-image : url('../img/button.png');
    cursor           : auto;
}

li.collapsibleListOpen{
    list-style-image : url('../img/button-open.png');
    cursor           : pointer;
}

li.collapsibleListClosed{
    list-style-image : url('../img/button-closed.png');
    cursor           : pointer;
}

/* Single view modal */
.coll-modal {
    display: none;   /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1;      /* Sit on top */
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}

.coll-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 90%;
}

/* Animation */
.coll-modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .coll-modal-content {
        width: 100%;
    }
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate270 {
    transform: rotate(270deg);
}
