body {
    background-color: #333333;
}

canvas {
    background-color: #c8c8c8;
}

.center {
    margin: auto;
}

.container {
    display: flex;
}

.container-collection {
    margin: 0 auto;
}

.fixed-edit-pane {
    text-align: center;
    width:      280px;
}

.fixed-collection-list-pane {
    text-align: left;
    width:      280px;
    font-family: Arial, Verdana, sans-serif;
    color:	 #a9a9a9;
    font-size:	 12px;
}

.fixed-collection-list-pane a:link {
    color:	     #a9a9a9;
    text-decoration: none;
}

.fixed-collection-list-pane a:visited {
    color:	     #a9a9a9;
    text-decoration: none;
}

.flex-item {
    flex-grow: 1;
}

.float-l-item {
    float: left;
}

.float-r-item {
    float: right;
}

.header-40px {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 40px;
    border:1px solid #000000;
}

.header-grp {
    display: -webkit-flex;
    display: flex;
    margin: 10px;
}

.footer-collection {
    width: 100%;
    height: 150px;
    clear: both;
    border:1px solid #000000;
}

table {
    font-family: Arial, Verdana, sans-serif;
    color:	 #a9a9a9;
    font-size:	 10px;
}

.edit-meta {
    background-color: #686868;
    border:1px solid #000000;
}

.edit-meta-text {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    padding: 5;
}

.edit-meta-text-marker {
    font-family: Arial, Verdana, sans-serif;
    color:	 #a9a9a9;
    text-align:  left;
}

.edit-in {
    width:            34px;
    background-color: #333333;
    border:           1px solid #494949;
    color:	      #a9a9a9;
    font-size:	      10px;
    text-align:       right;
}

.meta-data-table {
    text-shadow: 1px 1px #000000;
}

.text-bright {
    color: #c9c9c9;
}

input[type=range] {
    -webkit-appearance: none;
    width: 160px;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #494949;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: #a9a9a9;
    margin-top: -6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #494949;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: #a9a9a9;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #494949;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    background: #a9a9a9;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #898989;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a9a9a9;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #898989;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #898989;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: #898989;
}

input[type=range]::-ms-fill-upper {
    background: #898989;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #898989;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.collection-content {
    background-color: #c8c8c8;
    height: 80%;
    overflow-y: scroll;
}

.grid-view-table {
    border-spacing: 3px;
    border-collapse: separate;
}

.grid-view-table-cell {
    margin-top:    40px;
    margin-bottom: 40px;
    margin-right:  10px;
    margin-left:   10px;
}

td.grid-view-table-td {
    width:      232px;
    height:     252px;
    background-color: #686868;
}

.grid-view-table-footer {
    margin-left: 5px;
    margin-bottom: 5px;
}

td.grid-view-table-td-active {
    background-color: #a8a8a8;
}

td.grid-view-table-td:hover {
    background-color: #c8c8c8;
}

.collapsibleList li{
    list-style-image : url('../img/button.png');
    cursor           : auto;
}

li.collapsibleListOpen{
    list-style-image : url('../img/button-open.png');
    cursor           : pointer;
}

li.collapsibleListClosed{
    list-style-image : url('../img/button-closed.png');
    cursor           : pointer;
}

/* Single view modal */
.coll-modal {
    display: none;   /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1;      /* Sit on top */
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.coll-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 90%;
    border: 1px solid #FF0000;
}

/* Animation */
.coll-modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .coll-modal-content {
        width: 100%;
    }
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.popup_rate_set {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 20px;
    width: 90%;
    background-color: rgba(104, 104, 104, 0.7);
    color: #a9a9a9;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.rate-btn-group button {
    background: url(../img/star_outline.png);
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    border: 0px;
    padding: 1px 1px;
    cursor: pointer;
    float: left; /* Float the buttons side by side */
    margin-top: 10px;
}

.rate-btn-group button.selected {
    background: url(../img/star_selected.png);
    background-size: 20px 20px;
}

.rate-btn-group button:not(:last-child) {
    border-right: none;
}

/* Clear floats (clearfix hack) */
.rate-btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.rate-btn-group button:hover {
    background: url(../img/star_selected.png);
    background-size: 20px 20px;
}

.color-btn-group button {
    background-color: #282828;
    height: 20px;
    width: 20px;
    border: 3px solid #686868;
    padding: 1px 1px;
    cursor: pointer;
    float: left; /* Float the buttons side by side */
    margin-top: 10px;
}

.color-dropdown {
    position: relative;
    display: inline-block;
}

.color-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.color-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.color-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.color-dropdown-show {display:block;}

.color-btn {
    background-color: #282828;
    height: 20px;
    width: 20px;
    border: 3px solid #585858;
    padding: 1px 1px;
    cursor: pointer;
    margin-left: 10px;
}

.color-btn.red {
    background-color: #e05b5d;
}

.color-btn.green {
    background-color: 57c160;
}

.color-btn.blue {
    background-color: 5d88de;
}

.color-btn.yellow {
    background-color: #d9dd42;
}

.color-btn:hover, .color-btn:focus {
    background-color: #686868;
}

.rate-img {
    vertical-align: middle;
}

.color-btn-group button.red {
    background-color: #e05b5d;
}

.color-btn-group button.green {
    background-color: 57c160;
}

.color-btn-group button.blue {
    background-color: 5d88de;
}

.color-btn-group button.yellow {
    background-color: #d9dd42;
}

.color-btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.color-btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.color-btn-group button:hover {
    border: 0px;
}

.coll-none-rate {
    background-color: #686868;
    border: 1px solid #c9c9c9;
    color: #c9c9c9;
    cursor: pointer;
    float: left;
}

.coll-select-med {
    background: url(../img/select_arrow_21.png) no-repeat 96% 0;
    height: 20px;
    overflow: hidden;
    width: 140px;
    background-color: #686868;
    margin-left: 10px;
}

.coll-select-med select {
    color: #c9c9c9;
    background: transparent;
    border: none;
    height: 20px;
    width: 156px;
}

.coll-select-small {
    background: url(../img/select_arrow_21.png) no-repeat 90% 0;
    height: 20px;
    overflow: hidden;
    width: 60px;
    background-color: #686868;
    margin-left: 10px;
}

.coll-select-small select {
    color: #c9c9c9;
    background: transparent;
    border: none;
    height: 20px;
    width: 76px;
}

.coll-select-tiny {
    background: url(../img/select_arrow_21.png) no-repeat 86% 0;
    height: 20px;
    overflow: hidden;
    width: 45px;
    background-color: #686868;
    margin-left: 10px;
}

.coll-select-tiny select {
    color: #c9c9c9;
    background: transparent;
    border: none;
    height: 20px;
    width: 60px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
